<section class="top-section">
  <div class="container-fluid v-align">
    <div class="row">
      <div class="col-md-12">
        <h1>Concierge</h1>
        <hr>
        <p>LET’S TAKE CARE OF YOU</p>
        <a href="#next"><%= image_tag 'arrow-down-gray.svg' %></a>
      </div>
    </div>
  </div>
</section>

<section class="concierge-1" id="next">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>Sky Concierge</h1>
            <p>Always a classic necessity on several of our customers, flying from any part of the world to Miami followed by a complementary executive pick-up service from the airport to your final destination.</p>
            <br>
            <%= link_to image_tag('arrow-right-gray.svg'), concierge_sky_concierge_path, class: 'arrow-right-gray' %>
            <%= link_to image_tag('arrow-right-white.svg'), concierge_sky_concierge_path, class: 'arrow-right-white' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="concierge-2"></section>

<section class="concierge-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <h1>Ocean Concierge</h1>
            <p>Plenty are the pleasures that life has to offer. Some are pure products of nature such as the unique blend of Caribbean Sea & the Atlantic Ocean which together offer an unforgettable experience.</p>
            <br>
            <%= link_to image_tag('arrow-right-gray.svg'), concierge_ocean_concierge_path, class: 'arrow-right-gray' %>
            <%= link_to image_tag('arrow-right-white.svg'), concierge_ocean_concierge_path, class: 'arrow-right-white' %>
          </div>
        </div>
      </div>
      <div class="col-md-7">
      </div>
    </div>
  </div>
</section>

<section class="concierge-4"></section>

<section class="concierge-5">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>EXECUTIVE CONCIERGE</h1>
            <!-- <p>Automobiles are in fact the main way of transportation used in the city of Miami. Though we believe on the fact that there are different ways to experience the exact same situation & that actually style can possibly play an important roll on it, and even though the objective is the same (get from point A to B).</p> -->
            <p>Even the objective is the same (transport from point A to B), we believe in the fact that there are different ways to travel and live an experience of style and pleasure while moving.</p>
            <br>
            <%= link_to image_tag('arrow-right-gray.svg'), concierge_executive_concierge_path, class: 'arrow-right-gray' %>
            <%= link_to image_tag('arrow-right-white.svg'), concierge_executive_concierge_path, class: 'arrow-right-white' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="concierge-6"></section>

<section class="concierge-7">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>EXOTIC CONCIERGE</h1>
            <p>Miami is here, and ready to be lived and enjoyed. Bringing out emotions and pleasures to its guests.</p>
            <br>
            <%= link_to image_tag('arrow-right-gray.svg'), concierge_exotic_concierge_path, class: 'arrow-right-gray' %>
            <%= link_to image_tag('arrow-right-white.svg'), concierge_exotic_concierge_path, class: 'arrow-right-white' %>
          </div>
        </div>
      </div>
      <div class="col-md-7">
      </div>
    </div>
  </div>
</section>

<section class="concierge-8"></section>

<section class="concierge-9">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>Time Management</h1>
            <p>For most of the people, one of the most precious things in life., is time.</p>
            <br>
            <%= link_to image_tag('arrow-right-gray.svg'), concierge_time_management_path, class: 'arrow-right-gray' %>
            <%= link_to image_tag('arrow-right-white.svg'), concierge_time_management_path, class: 'arrow-right-white' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
