<section class="top-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Concierge</h1>
        <hr>
        <p>LET’S TAKE CARE OF YOU</p>
        <a href="#next"><%= image_tag 'arrow-gray.png' %></a>
      </div>
    </div>
  </div>
</section>

<section class="concierge-1" id="next">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'concierge-1.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>Sky Concierge</h1>
            <p>Always a classic necessity on several of our customers, flying from any part of the world to Miami followed by a complementary executive pick-up services from the airport to your final destination.</p>
            <%= link_to image_tag('arrow-right.png'), sky_concierge_path, class: 'arrow-right' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="concierge-2"></section>

<section class="concierge-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <h1>Ocean Concierge</h1>
            <p>Plenty are the pleasures that life has to offer. Some are pure products of nature such as the unique blend of Caribbean Sea & the Atlantic Ocean which together offer an unforgettable experience.</p>
            <%= link_to image_tag('arrow-right.png'), ocean_concierge_path, class: 'arrow-right' %>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <%= image_tag 'concierge-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<section class="concierge-4"></section>

<section class="concierge-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'concierge-5.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>Executive cars</h1>
            <p>Automobiles are in fact the main way of transportation used in the city of Miami. Though we believe on the fact that there are different ways to experience the exact same situation & that actually style can possibly play an important roll on it, and even though the objective is the same (get from point A to B).</p>
            <%= link_to image_tag('arrow-right.png'), executive_concierge_path, class: 'arrow-right' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="concierge-6"></section>

<section class="concierge-7">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>Exotic Cars</h1>
            <p>Miami is here, is here to be lived. To be enjoyed, to bring out emotions & pleasures to its guests.</p>
            <%= link_to image_tag('arrow-right.png'), exotic_concierge_path, class: 'arrow-right' %>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <%= image_tag 'concierge-7.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<section class="concierge-8"></section>

<section class="concierge-9">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'concierge-9.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>Time Management</h1>
            <p>For most of the people, one of the most precious thingsin life is time.</p>
            <%= link_to image_tag('arrow-right.png'), time_management_path, class: 'arrow-right' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
