<section class="header-15-sub-home">
  <div class="background">&nbsp;</div>
  <div class="blk-bkg"></div>
  <div class="container-fluid">
    <div class="title">
      <div class="row">
        <div class="col-xs-12">
          <h2>WELCOME TO MIAMI QOSTA</h2>
          <h1>REAL ESTATE</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-btn">
    <p>SCROLL DOWN</p>
    <a href="#next"><%= image_tag "arrow-down-white.svg", class: 'scroll-down' %></a>
  </div>


  <!-- <div class="container-fluid-home">
    <div class="row">
      <div class="col-md-12 col-xs-12">
          <%= image_tag "logos/acqualina.png", class: 'img-responsive' %>
          <%= image_tag "logos/grove.png", class: 'img-responsive' %>
          <%= image_tag "logos/edition.png", class: 'img-responsive' %>
          <%= image_tag "logos/muse.png", class: 'img-responsive' %>
          <%= image_tag "logos/trcr.png", class: 'img-responsive' %>
          <%= image_tag "logos/jade-sign.png", class: 'img-responsive' %>
          <%= image_tag "logos/bcc.png", class: 'img-responsive' %>
          <%= image_tag "logos/flat-iron.png", class: 'img-responsive' %>
          <%= image_tag "logos/one.png", class: 'img-responsive' %>
      </div>
    </div>
  </div> -->
</section>
<section class="home-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>MIAMI QOSTA IN ASSOCIATION WITH<br>REAL ESTATE TRANSACTIONS INTERNATIONAL</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Signature boutique offering qualified knowledge, care and time without boundaries. We offer private high-end services, based on an outstanding “one to one” basis regarding all matters related to Real Estate investments in Miami.</p>
        <br>
        <p>We blur the lines between service and real estate, between business and pleasure. Offering the best-personalized investment acquisitions in Miami to international clientele in a fully integrated service:</p>
        <br>
        <ul>
          <li>Residential (Houses & Condos) Purchase/Sales</li>
          <li>Financing, Taxing & Legal Assitance</li>
          <li>Commercial Real Estate</li>
          <li>Investments (urban development; condominium projects, commercial, shopping centers and hotels)</li>
          <li>Interior Design & Architects</li>
        </ul>
      </div>
      <div class="col-md-5">
        <p>Qosta Concierge offers a variety of white glove services such as:</p>
        <br>
        <ul>
          <li>Sky Concierge - Charter, Purchase/Sales of airplances & Helicopters</li>
          <li>Ocean Concierge - Charter, Purchase/Sales of yacht</li>
          <li>Exotic and/or executive automobiles - Rent/Purchase</li>
          <li>Time Management - Reservations, Chauffeurs, Nannies, Recommendations and more.</li>
        </ul>
        <br>
        <p>We apprecialte our clientele and that is the reason why we give them the most expensive matter. We give them time.</p>
      </div>
    </div>
  </div>
</section>
<section class="project-home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>PROJECTS</h1>
            <%= link_to image_tag('arrow-right-gray.svg'), new_developments_path, class: 'arrow-right-gray' %>
            <%= link_to image_tag('arrow-right-white.svg'), new_developments_path, class: 'arrow-right-white' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
