<section class="top-section">
  <div class="container-fluid v-align">
    <div class="row">
      <div class="col-md-12">
        <h1>Integral service</h1>
        <hr>
        <p>WE PROVIDE YOU</p>
        <a href="#next"><%= image_tag 'arrow-down-gray.svg' %></a>
      </div>
    </div>
  </div>
</section>

<section class="integral-content" id="next">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-5 col-sm-offset-1">
          <p>Qosta Miami is a signature company offering knowledge, care and time without boundaries. Offering a one-to-one basis private service regarding all matters related to Real Estate investments in Miami. We simplify the complexity, always looking forward, one step ahead of the situation.</p>
          <p>Investment counseling, legal and financial assistance, taxing, interior design, architects, property management, resales, rentals and more.</p>
        </div>
        <div class="col-sm-5">
          <p>Everything with a white-glove personalized service of Qosta Concierge, which offers far beyond the formal real estate transaction, complementing the experience with: Sky Concierge, Ocean Concierge, Exotic & Executive Concierge & Time Management.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="integral-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>Legal ADVICE</h1>
            <p>Legal assessment specialized in real estate and immigration matters by prestigious law firms who protect the client and his/her wealth as a priority.</p>
            <br>
            <p>Coming Soon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="integral-2"></section>

<section class="integral-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>Visa EB-5</h1>
            <p>The EB-5 visa is an U.S. government immigration program that allows foreign nationals to obtain a U.S. green card. The program requires a qualifying investment of at least $500,000, which creates 10 jobs.</p>
            <br>
            <%= link_to image_tag('arrow-right-gray.svg'), integral_service_visa_eb5_path, class: 'arrow-right-gray' %>
            <%= link_to image_tag('arrow-right-white.svg'), integral_service_visa_eb5_path, class: 'arrow-right-white' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="integral-4"></section>

<section class="integral-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <h1>FINANCING</h1>
            <p>Crucial matter for many of our international buyers, therefore we solved the situation in advance and partnered up with a special selection of mortgage brokers firms specialized in foreign buyer’s transactions, offering always the best possible rates and terms in the market.</p>
            <br>
            <%= link_to image_tag('arrow-right-gray.svg'), integral_service_financing_path, class: 'arrow-right-gray' %>
            <%= link_to image_tag('arrow-right-white.svg'), integral_service_financing_path, class: 'arrow-right-white' %>
          </div>
        </div>
      </div>
      <div class="col-md-7">
      </div>
    </div>
  </div>
</section>

<section class="top-section">
  <div class="container-fluid v-align">
    <div class="row">
      <div class="col-md-12">
        <h1>Interior design</h1>
        <hr>
        <p style="text-transform:uppercase;">Decorating a new residences must be a pleasurable and flawless experience<br>The owner has to enjoy it</p>
        <a href="#next2"><%= image_tag 'arrow-down-gray.svg' %></a>
      </div>
    </div>
  </div>
</section>

<section class="integral-6" id="next2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>LIVING IN LUXURY</h1>
            <p>It is important to consider as part of the purchase of a property, the post-sale process which each of the buyers / investors (both national and foreigners) will go through. In most of the pre-construction project, units are delivered without floors in main areas (bedrooms and living area, except for bathrooms and kitchen). Therefore it is a must to have this in consideration as well as the furniture, decorations, closets, etc.</p>
            <p>We provide our clients a selection of qualified companies who offer the services mentioned for a reasonable price and of course maintaining the quality of service that makes us unique, always in a one-to-one basis.</p>
          </div>
        </div>
      </div>
      <div class="col-md-7">
      </div>
    </div>
  </div>
</section>
