<section class="top-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Integral service</h1>
        <hr>
        <p>WE PROVIDE YOU</p>
        <a href="#next"><%= image_tag 'arrow-gray.png' %></a>
      </div>
    </div>
  </div>
</section>

<section class="integral-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Consultant's office in the selection of the property</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.</p>
      </div>
      <div class="col-md-5">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.</p>
      </div>
    </div>
  </div>
</section>

<section class="integral-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'concierge-1.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>Legal ADVICE</h1>
            <p>Legal assessment specialized in real estate and immigration matters by prestigious law firms who protect the client and his/her wealth as a priority.</p>
            <%= link_to image_tag('arrow-right.png'), concierge_sky_concierge_path, class: 'arrow-right' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="integral-2"></section>

<section class="integral-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'concierge-1.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>Visa EB-5</h1>
            <p>The EB-5 visa is an U.S. government immigration program that allows foreign nationals to obtain a U.S. green card. The program requires a qualifying investment of at least $500,000, which creates 10 jobs.</p>
            <%= link_to image_tag('arrow-right.png'), concierge_sky_concierge_path, class: 'arrow-right' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="integral-4"></section>

<section class="integral-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <h1>FINANCING</h1>
            <p>Crucial matter for many of our international buyers, therefore we solved the situation in advance and partnered up with a special selection of mortgage brokers firms specialized in foreign buyer’s transactions, offering always the best possible rates and terms in the market.</p>
            <%= link_to image_tag('arrow-right.png'), concierge_ocean_concierge_path, class: 'arrow-right' %>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <%= image_tag 'concierge-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<section class="top-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Interior design</h1>
        <hr>
        <p>FALL IN LOVE WITH MODERN DESIGNS</p>
        <a href="#next2"><%= image_tag 'arrow-gray.png' %></a>
      </div>
    </div>
  </div>
</section>

<section class="integral-6" id="next2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>LIVING IN LUXURY</h1>
            <p>n the natural process of real estate transactions, it is usually needed an interior designer, architect and/or decorator. This is why we have carefully selected a diverse portfolio of high-quality professionals to offer our clients their services under preferential terms such as timing & prices.</p>
            <%= link_to image_tag('arrow-right.png'), concierge_exotic_concierge_path, class: 'arrow-right' %>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <%= image_tag 'concierge-7.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>
