<section class="visa">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>LEGAL ADVICE</h1>
        <a href="#next"><%= image_tag 'arrow.png' %></a>
      </div>
    </div>
  </div>
</section>
<section class="legal-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>LOREM IMPSUM ASAT AMET</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Legal assessment specialized in real estate and immigration matters by prestigious law firms who protect the client and his/her wealth as a priority. Absolutely all scenarios are analyzed, different</p>
      </div>
      <div class="col-md-5">
        <p>perspectives and all matters that can possibly impact the investment or acquisition process. Taxes play an important role in any purchase, this is why we contact the client to a specialized tax consultant in USA.</p>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="legal-content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>LOREM IMPSUM ASAT AMET</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Legal assessment specialized in real estate and immigration matters by prestigious law firms who protect the client and his/her wealth as a priority. Absolutely all scenarios are analyzed, different</p>
      </div>
      <div class="col-md-5">
        <p>perspectives and all matters that can possibly impact the investment or acquisition process. Taxes play an important role in any purchase, this is why we contact the client to a specialized tax consultant in USA.</p>
      </div>
    </div>
  </div>
</section>
<section class="visa-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'projects.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>LOREM IMPSUM</h1>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
            <hr>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="top-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Interior design</h1>
        <hr>
        <p>FALL IN LOVE WITH MODERN DESIGNS</p>
        <a href="#next2"><%= image_tag 'arrow-gray.png' %></a>
      </div>
    </div>
  </div>
</section>
<section class="visa-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <h1>FINANCING</h1>
            <p>Crucial matter for many of our international buyers, therefore we solved the situation in advance and partnered up with a special selection of mortgage brokers firms specialized in foreign buyer’s transactions, offering always the best possible rates and terms in the market.</p>
            <%= link_to image_tag('arrow-right.png'), integral_service_financing_path, class: 'arrow-right' %>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <%= image_tag 'concierge-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<section class="legal-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'projects.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>LOREM IMPSUM</h1>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
            <hr>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bottom-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p>Coming Soon</p>
        <hr>
        <h1>NEWS / ARTICLES</h1>
      </div>
    </div>
  </div>
</section>
