<%= form_for(@contact) do |f| %>
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <%= f.text_field :first, class: 'form-control', placeholder: 'First Name' %>
        <br>
        <%= f.text_field :last, class: 'form-control', placeholder: "Last Name" %>
        <br>
    </div>
    <div class="col-sm-5">
      <%= f.text_field :email, class: 'form-control', placeholder: "Email" %>
      <br>
      <%= f.text_field :cellphone, class: 'form-control', placeholder: "Cell Phone" %>
    </div>
  </div>
  <div class="delimiter"></div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <p>What Are You Interested In?</p>
        <%= f.select :interest, nil, {prompt: 'Select One'}, {class: 'form-control'} do %>
          <% [['Investments'], ['Concierge'], ['New Developments'], ['Existing Developments'], ['Residence']].each do |i| %>
            <%= content_tag(:option, i.first) %>
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="delimiter"></div>
  <div class="row">
    <div class="col-sm-10 col-md-offset-1">
      <%= f.text_area :message, class: 'form-control', :rows => "1", style: 'padding-bottom: 5px;', placeholder: "Message" %>
    </div>
  </div>

    <%= f.submit "SEND", class: 'btn btn-contact' %>

<% end %>
