<%= form_for(@contact) do |f| %>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
        <%= f.text_field :first, class: 'form-control', placeholder: 'First Name' %>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <%= f.text_field :email, class: 'form-control', placeholder: "Email" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <%= f.text_field :last, class: 'form-control', placeholder: "Last Name" %>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <%= f.text_field :cellphone, class: 'form-control', placeholder: "Cell Phone" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>What Are You Interested In?</p>
      <%= f.select(:interest) do  %>
        <% [['Investments'], ['Concierge'], ['New Developments'], ['Existing Developments'], ['Residence']].each do |c| %>
          <%= content_tag(:option, c.first) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= f.text_area :message, class: 'form-control', row: '1', placeholder: "Message" %>
    </div>
  </div>
  <div class="btn btn-success">
    <%= f.submit "SEND", class: 'btn btn-success' %>
  </div>

<% end %>
<!-- <% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

    <ul>
    <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %> -->
