<% if @development.featured_image.blank? %>
<section class="development-featured">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1 style="color:black;"><%= @development.name %></h1>
        <hr style="border-top: solid black 1px;">
      </div>
    </div>
  </div>
  <a href="#decription"><%= image_tag 'arrow-down-gray.svg', class: 'scroll-down' %></a>
</section>
<% else %>
  <section class="development-featured" style="background-image: url(<%= @development.featured_image %>)">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= @development.name %></h1>
          <hr>
        </div>
      </div>
    </div>
    <a href="#decription"><%= image_tag 'arrow-down-white.svg', class: 'scroll-down' %></a>
  </section>
<% end %>


<section class="development-content" id="decription">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= @development.address %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="col-sm-6">
            <% if @development.description.blank? %>
              <p>Description about this property coming soon.</p>
            <% else %>
              <%= raw @development.description %>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <% if @development.building_info.blank? %>
              <p><strong>Building Facts coming soon</strong></p>
            <% else %>
              <p><strong><%= @development.name %></strong></p>
              <%= raw @development.building_info %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<% if @development.amenities_image.blank? %>
  <section class="development-payment">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1>Building Ameneties Coming Soon</h1>
          <hr>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="development-amenities" style="background-image: url(<%= @development.amenities_image %>)">
    <div class="bkg-mobile"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-10">
              <h1>Building Ameneties</h1>
              <ul>
                <% if @development.amenities.count == 0 %>
                  <li>Coming Soon</li>
                  <hr>
                <% else %>
                  <% @development.amenities.limit(5).each do |n| %>
                    <li><%= n.name %></li>
                    <hr>
                  <% end %>
                <% end %>
              </ul>
                <% if @development.amenities.count > 10000000 %>
                  <br>
                  <a type="button" class="show-more-button" data-toggle="modal" data-target="#amenities">Show More &nbsp;<%= image_tag 'arrow-right-gray.svg', style: 'width:30px;' %></a>
                  <div class="modal fade bs-example-modal-lg" id="amenities" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-2x"></i></span></button>
                        <div class="container">
                          <div class="row top">
                            <div class="col-sm-12">
                              <h1 style="margin-bottom: 0px;">Building Ameneties</h1>
                            </div>
                          </div>
                          <div class="row show-more">
                            <div class="col-sm-12">
                              <div class="col-sm-6 col-sm-offset-3">
                                <% @development.amenities.each do |d| %>
                                  <p><%= d.name %></p>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>


<% if @development.services_image.blank? %>
  <section class="development-no-gallery">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1>Building Services Coming Soon</h1>
          <hr>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="development-services" style="background-image: url(<%= @development.services_image %>)">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <h1>Building Services</h1>
          <ul>
            <% if @development.building_services.count == 0 %>
              <li>Coming Soon</li>
              <hr>
            <% else %>
              <% @development.building_services.limit(5).each do |n| %>
                <li><%= n.name %></li>
                <hr>
              <% end %>
            <% end %>
          </ul>
          <% if @development.building_services.count > 100000 %>
          <a type="button" class="show-more-button" data-toggle="modal" data-target="#building_services">Show More &nbsp;<%= image_tag 'arrow-right-gray.svg', style: 'width:30px;' %></a>
          <div class="modal fade bs-example-modal-lg" id="building_services" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-2x"></i></span></button>
                <div class="container">
                  <div class="row top">
                    <div class="col-sm-12">
                      <h1 style="margin-bottom: 0px;">Building Services</h1>
                    </div>
                  </div>
                  <div class="row show-more">
                    <div class="col-sm-12">
                      <div class="col-sm-6 col-sm-offset-3">
                        <% @development.building_services.each do |d| %>
                          <p><%= d.name %></p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>


<% if @development.residence_image.blank? %>
  <section class="development-payment">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1>Residence Information Coming Soon</h1>
          <hr>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="development-residence" style="background-image: url(<%= @development.residence_image %>)">
    <div class="bkg-mobile"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-10">
              <h1>RESIDENCES</h1>
              <ul>
                <% if @development.residence_types.count == 0 %>
                  <li>Residence Styles Coming Soon</li>
                <% else %>
                  <% @development.residence_types.limit(3).each do |n| %>
                    <li><%= n.name %></li>
                  <% end %>
                <% end %>
              </ul>
              <ul>
                <% if @development.residence_features.count == 0 %>
                  <li>Residence Features Coming Soon</li>
                <% else %>
                  <% @development.residence_features.limit(4).each do |n| %>
                    <li><%= n.name %></li>
                    <hr>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<% if @development.galleries.count == 0 %>
  <section class="development-no-gallery">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1>Gallery Coming Soon</h1>
          <hr>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section>
    <!-- masterslider -->
    <div class="master-slider ms-skin-default" id="masterslider">
        <!-- new slide -->
        <% @development.galleries.each do |n| %>
          <% n.pictures.each do |p| %>
            <div class="ms-slide">
              <!-- slide background -->
              <%= image_tag 'https://s3.amazonaws.com/miami-qosta/slider-images/blank.gif', data: {src: p.image.url(:retina)} %>
              <!-- slide text layer -->
              <div class="ms-layer ms-caption" style="top:10px; left:30px;">
                  <%= p.description %>
              </div>
            </div>
          <% end %>
        <% end %>
        <!-- end of slide -->
    </div>
    <!-- end of masterslider -->
  </section>
<% end %>


<% if @development.penthouse_image.blank? %>
  <section class="development-no-gallery">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1>PENTHOUSE INFORMATION COMING SOON</h1>
          <hr>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="development-penthouse" style="background-image: url(<%= @development.penthouse_image %>)">
    <div class="bkg-mobile"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-10">
              <h1>PENTHOUSE</h1>
              <% if @development.penthouse.blank? %>
                <p style="padding-top: 2em;"><strong>Coming Soon</strong></p>
              <% else %>
                <%= raw @development.penthouse %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-7"></div>
      </div>
    </div>
  </section>
<% end %>

<% if @development.payment_schedule.blank? %>
  <section class="development-payment">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1>PAYMENT SCHEDULE</h1>
          <hr>
          <ul>
            <li>Payment Schedule coming soon</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="development-payment">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1>PAYMENT SCHEDULE</h1>
          <hr>
          <%= raw @development.payment_schedule %>
        </div>
      </div>
    </div>
  </section>
<% end %>


<% if @development.area_and_floorplan_image.blank? %>
  <section class="development-no-gallery">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1>Floorplans Coming Soon</h1>
          <hr>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="development-area" style="background-image: url(<%= @development.area_and_floorplan_image %>)">
    <div class="area-floorplan">
      <ul>
        <li>view area <%= link_to image_tag('arrow-right-white.svg'), @development.area_url, target: '_blank' %></li>
        <% if @development.floorplan_pdf.blank? %>
          <li>floorplans coming soon</li>
        <% else %>
          <li>see floorplans <%= link_to image_tag('arrow-right-white.svg'), @development.floorplan_pdf.url, target: '_blank' %></li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>

<section class="development-similar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1>Similar Developments</h1>
        <hr>
      </div>
    </div>
  </div>
</section>

<section class="development-list" id="decription">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 hover-dev" style="padding-left:0;padding-right:0;">
        <div class="hover-development"></div>
        <% unless @development.relation_development_1 == nil %>
          <h3><%= link_to "#{@relation_1.name}", @relation_1 %></h3>
          <%= link_to image_tag(@relation_1.featured_image.url(:retina), class: 'img-responsive'), @relation_1 %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 hover-dev" style="padding-left:0;padding-right:0;">
        <div class="hover-development"></div>
        <% unless @development.relation_development_2 == nil %>
          <h3><%= link_to "#{@relation_2.name}", @relation_2 %></h3>
          <%= link_to image_tag(@relation_2.featured_image.url(:retina), class: 'img-responsive'), @relation_3 %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 hover-dev" style="padding-left:0;padding-right:0;">
        <div class="hover-development"></div>
        <% unless @development.relation_development_3 == nil %>
          <h3><%= link_to "#{@relation_3.name}", @relation_3 %></h3>
          <%= link_to image_tag(@relation_3.featured_image.url(:retina), class: 'img-responsive'), @relation_3 %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="all-devs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-12">
            <h1>OTHER DEVELOPMENTS</h1>
            <hr>
          </div>
        </div>
        <div class="delimiter"></div>
        <div class="row">
          <% @devs.each do |d| %>
            <div class="col-sm-2">
              <div class="listing-all">
                <h3><%= link_to "#{d.name}", d %></h3>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
