<h1>Contact Form Information:</h1>

<strong>Name:</strong> <%= @contact.first %> <%= @contact.last %><br>
<strong>Email:</strong> <%= @contact.email %><br>
<strong>Phone:</strong> <%= @contact.cellphone %><br>
<strong>Interest:</strong> <%= @contact.interest %><br>
<strong>Message:</strong> <%= @contact.message %>
