<% title 'Blog' %>


<% if Post.count == 0 %>
  <section class="top-section post-main">
    <div class="container-fluid v-align">
      <div class="row">
        <div class="col-sm-12">
          <h1>NEWS / Blog</h1>
          <hr>
          <p>Coming Soon</p>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="top-section">
    <div class="container-fluid v-align">
      <div class="row">
        <div class="col-sm-12">
          <h1>NEWS / Blog</h1>
          <hr>
          <p>STAY UPDATED</p>
          <a href="#next"><%= image_tag 'arrow-down-gray.svg' %></a>
        </div>
      </div>
    </div>
  </section>

  <% @posts.each do |p| %>
    <section id="next" class="posts <%= p.title.parameterize %>" style="background-image: url(<%= p.featured_image %>)">
      <div class="bkg"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 v-align">
            <h2><%= p.title %></h2>
            <div style="text-align:center">
              <%= link_to 'Read More', p %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      (function($) {
        $('.<%= p.title.parameterize %>').each(function() {
          if (! isMobile.any() ) {
            $(this).parallax('50%', .3, true);
          } else {
            $(this).css('background-attachment', 'initial')
          }
        })
      }(jQuery));
    </script>
  <% end %>
<% end %>
