<section class="post-featured" style="background-image: url(<%= @post.featured_image %>)">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= @post.title %></h1>
        <p><%= @post.created_at.strftime("%B %d, %Y") %></p>
        <hr>
      </div>
    </div>
  </div>
  <a href="#post"><%= image_tag 'arrow-down-white.svg', class: 'scroll-down' %></a>
</section>

<section id="post" class="the-post">
  <div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="col-md-8">
        <p><%= raw @post.content %></p>
        <div style="margin-top:50px;"></div>
        <%# disqus_thread %>
      </div>
      <div class="col-sm-4 border">
        <h4 class="blog-sidebar">Rescent Posts</h4>
        <hr>
        <% @recent.each do |r| %>
          <div class="container-fluid" style="padding-left: 0;padding-right: 0;">
            <div class="row">
              <div class="col-sm-12" style="padding-left: 0;padding-right: 0;">
                <div class="col-xs-4">
                  <%= image_tag r.featured_image(:admin) %>
                </div>
                <div class="col-xs-8 blog-sidebar">
                  <p><b><%= r.title %></b></br>
                  <%= r.created_at.strftime("%B %d, %Y") %></p>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-top:10px;"></div>
        <% end %>
      </div>
    </div>
  </div>
</section>



<script>
  (function($) {
    $('.post-featured').each(function() {
      if (! isMobile.any() ) {
        $(this).parallax('50%', .3, true);
      } else {
        $(this).css('background-attachment', 'initial')
      }
    })
  }(jQuery));
</script>
