<div class="ody-menu">
  <!-- ODY MAIN MENU -->
  <ul class="ody-main-menu">
    <li><%= link_to 'HOME', root_path %></li>
    <li><a href="#" id="dropdown">DEVELOPMENTS</a>
      <ul>
        <!-- <li><%# link_to 'OVERVIEW', developments_path %></li> -->
        <li><%= link_to 'NEW DEVELOPMENTS', new_developments_path %></li>
      </ul>
    <li><a href="#" id="dropdown2">CONCIERGE</a>
      <ul>
        <li><%= link_to 'MAIN', concierge_path %></li>
        <li><%= link_to 'SKY CONCIERGE', concierge_sky_concierge_path %></li>
        <li><%= link_to 'OCEAN CONCIERGE', concierge_ocean_concierge_path %></li>
        <li><%= link_to 'EXECUTIVE CONCIERGE', concierge_executive_concierge_path %></li>
        <li><%= link_to 'EXOTIC CONCIERGE', concierge_exotic_concierge_path %></li>
        <li><%= link_to 'TIME MANAGEMENT', concierge_time_management_path %></li>
      </ul>
    <li><a href="#" id="dropdown3">INVESTMENTS</a>
      <ul>
        <li><%= link_to 'MAIN', investments_path %></li>
        <li><%= link_to 'HOW TO BUY A HOUSE', investments_how_to_buy_a_house_path %></li>
      </ul>
      <li><a href="#" id="dropdown4">INTERGRAL SERVICE</a>
        <ul>
          <li><%= link_to 'MAIN', integral_service_path %></li>
          <!-- <li><%# link_to 'LEGAL ADVICE', integral_service_legal_path %></li> -->
          <li><%= link_to 'VISA EB-5', integral_service_visa_eb5_path %></li>
          <li><%= link_to 'EB-5 VISA INVESTOR PROGRAM', integral_service_eb5_program_path %></li>
          <li><%= link_to 'FINANCING', integral_service_financing_path %></li>
        </ul>
    <li><%= link_to 'TEAM', team_path %></li>
    <li><%= link_to 'CONTACT', contact_email_path %></li>
  </ul>
</div>
