<!DOCTYPE html>
<html>
<head>
  <title>MiamiQosta</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="cbp-spmenu-push">
  <div id="ip-container" class="ip-container">
  <!-- initial header -->
  <header class="ip-header">
    <div class="ip-logo">
        <%= link_to image_tag('logo.svg'), root_path %>
    </div>
    <div class="ip-loader">
      <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
        <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
        <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
      </svg>
    </div>
  </header>
</div><!-- /container -->
  <a class="menu" id="showRightPush">MENU<%= image_tag "hamburger.svg" %></a>

  <div>
  <select class="cs-select cs-skin-elastic">
    <option value="" disabled selected>Language</option>
    <option value="spain" data-class="flag-spain">Español</option>
    <option value="france" data-class="flag-france">français</option>
    <option value="brazil" data-class="flag-brazil">Português</option>
    <option value="russia" data-class="flag-russia">русский</option>
  </select>
</div>
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <%= render 'layouts/navlinks' %>
  </nav>


  <div class="page-wrapper">
    <div id="bkg-overlay"></div>

    <%= render 'layouts/header' %>

    <%= yield %>

  </div>

  <footer class="footer-2 bg-black">
    <%= render 'layouts/footer' %>
  </footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script>



  $( "#showRightPush" ).click(function() {
    $( "#bkg-overlay" ).toggle();
  });


    (function() {
      [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
        new SelectFx(el);
      } );
    })();

    (function($) {
      $('.development-area, .development-featured, .development-amenities, .development-services, .development-residence, .header-15-sub-home, .project-home, .development-btm, .concierge-1, .concierge-2, .concierge-3, .concierge-4, .concierge-5, .concierge-6, .concierge-7, .concierge-8, .concierge-9, .sky, .sky-info, .ocean, .ocean-info, .executive, .executive-info, .exotic, .exotic-info, .time, .time-info, .invest-1, .invest-2, .invest-3, .house, .house-info, .integral-1, .integral-2, .integral-3, .integral-4, .integral-5, .integral-6, .legal, .legal-info, .visa, .visa-2, .visa-4, .visa-5, .eb5, .eb5-2, .finance, .finance-info').each(function() {
        if (! isMobile.any() ) {
          $(this).parallax('50%', .3, true);
        } else {
          $(this).css('background-attachment', 'initial')
        }
      })
    }(jQuery));

    (function($) {
      $('.project-home, .development-btm, .sky-info, .ocean-info, ,.executive-info, .exotic-info, .time-info, .house-info, .legal-info, .finance-info').each(function() {
        if (! isMobile.any() ) {
          $(this).parallax('50%', 0, true);
        } else {
          $(this).css('background-attachment', 'initial')
        }
      })
    }(jQuery));

    (function() {
      // initialize all

      [].slice.call( document.querySelectorAll( '.si-icons-default > .si-icon' ) ).forEach( function( el ) {
        var svgicon = new svgIcon( el, svgIconConfig );
      } );

      new svgIcon( document.querySelector( '.si-icons-easing .si-icon-hamburger-cross' ), svgIconConfig, { easing : mina.elastic, speed: 600 } );

    })();


    var slider = new MasterSlider();
    slider.setup('masterslider' , {
            width:1920,    // slider standard width
            height:1080,   // slider standard height
            space:5
            // more slider options goes here...
            // check slider options section in documentation for more options.
        });
    // adds Arrows navigation control to the slider.
    slider.control('arrows');

  </script>


</body>
</html>
