<!DOCTYPE HTML>
<html>
<head>
  <title><%= yield(:title).blank? ? 'Miami Real Estate' : yield(:title) %> | MiamiQosta</title>
  <meta name="description" content="<%= yield(:meta_description) %>">
  <meta name="keyword" content="<%= yield(:keyword).blank? ? 'MiamiQosta' : yield(:keyword) %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msvalidate.01" content="FC011CE0105FCDEF96CA6CF4983F14D2" />
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= render 'layouts/google_analytics' %>
</head>
<body>

  <%= render 'layouts/preloader' %>
  <%= render 'layouts/menu_button' %>
  <%= render 'layouts/language' %>


    <%= render 'layouts/header' %>
  <!-- <div class="page-wrapper"> -->
    <div class="ody-content">

      <%= render 'layouts/navlinks' %>

      <%= yield %>

      <%= render 'layouts/footer' %>

    </div>
  <!-- </div> -->

  <%= javascript_include_tag 'application-btm' %>

  <script>
    var NKS_Form_Opts = {
          'ajaxurl' : '',
      		'theme' : 'minimalistic', // flat'minimalistic', 'aerial'
      		'sidebar_pos' : 'right', // 'right'
      		'additional_phone_input' : false,
      		'additional_company_input' : false,
      		'additional_address_input' : false,
      		'additional_subject_input' : false,
      		'humantest' : true,
      		'userpic' : '', // URL to image
      		'firstline' : '',
      		'secondline' : '',
      		'thirdline' : '',
      		'message_to_sender': '',
      		'fade_content' : 'light', // 'dark', 'none'
      		'userpic_style' : 'theme_custom', // 'none'
      		'label' : 'circle', // 'circle_fade', 'rectangle'
      		'label_top' : '80%',
      		'label_vis' : 'visible', // 'hidden', 'hidden_500', 'scroll', 'scroll_into'
      		'label_scroll_selector' : '',
      		'label_mouseover' : false,
      		'bg' : 'blur1', // 'none', 'custom', 'blur1', 'blur2', ... , 'blur15', 'pattern1', ... , 'pattern15'
      		'path_to_img_folder' : 'img',
      		'custom_bg_url': '',
      		'togglers' : '',
      		'social' : {},
      		'socialbar' : 'top', // 'bottom'
      		'show_socialbar': true,
      		'aerial_invert_style' : false,
      		'aerial_rgba_bg' : 'rgba(0, 0, 0, 0.1)',
      		'send_text' : 'Send',
      		'send_more_text' : 'Send more',
      		'try_again_text' : 'Try again',
      		'close_text' : 'Close',
      		'sending_text' : 'Sending',
      		'msg_fail_text' : 'Something went wrong while sending your message',
      		'success' : 'Your message was successfully sent!',
      		'placeholders': {
      			'name': 'Your name',
      			'company': 'Your company',
      			'phone': 'Your phone',
      			'address': 'Your address',
      			'subject': 'Email subject',
      			'email': 'Your email',
      			'msg': 'Your message'
      		},
      		'errors' : {
      			'required' : '* Please enter %%',
      			'min' : '* %% must have at least %% characters.',
      			'max' : '* %% can have at most %% characters.',
      			'matches' : '* %% must match %%.',
      			'less' : '* %% must be less than %%',
      			'greater' : '* %% must be greater than %%.',
      			'numeric' : '* %% must be numeric.',
      			'email' : '* %% must be a valid email address.',
      			'answer' : '* Wrong %%'
      		},

      		color_schema: ['#c0392b', '#cf4739', '#cd3424', '#d9593e', '#c84c3f', '#bb2d1f', '#e96d3d', '#e94e3d', '#2f1420']
      	};
  </script>

  <script>
    $( "#ody-trigger" ).click(function() {
      $( "#bkg-overlay" ).toggle();
    });
  </script>

  <script>
    (function() {
      [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
        new SelectFx(el);
      } );
    })();
  </script>

  <script>
    // Scroll to id
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>


</body>
</html>
