<!DOCTYPE html>
<html>
<head>
  <title>MiamiQosta</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="cbp-spmenu-push">
  <a class="menu" href="#" id="showRightPush">MENU<%= image_tag "hamburger.svg" %></a>
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <a href="#">Celery seakale</a>
    <a href="#">Dulse daikon</a>
    <a href="#">Zucchini garlic</a>
    <a href="#">Catsear azuki bean</a>
    <a href="#">Dandelion bunya</a>
    <a href="#">Rutabaga</a>
  </nav>



  <div class="page-wrapper">

    <%= render 'layouts/header' %>

    <%= yield %>

  </div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
