<!DOCTYPE html>
<html>
<head>
  <title>MiamiQosta</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="cbp-spmenu-push">
  <a class="menu" id="showRightPush">MENU<%= image_tag "hamburger.svg" %></a>
  <div>
  <select class="cs-select cs-skin-elastic">
    <option value="" disabled selected>Language</option>
    <option value="spain" data-class="flag-spain">Español</option>
    <option value="france" data-class="flag-france">français</option>
    <option value="brazil" data-class="flag-brazil">Português</option>
    <option value="russia" data-class="flag-russia">русский</option>
  </select>
</div>
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <%= render 'layouts/navlinks' %>
  </nav>


  <div class="page-wrapper">

    <%= render 'layouts/header' %>

    <%= yield %>

  </div>

  <footer class="footer-2 bg-black">
    <%= render 'layouts/footer' %>
  </footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script>

    (function() {
      [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
        new SelectFx(el);
      } );
    })();

    (function($) {
      $('.header-15-sub-home, .project-home, .development-btm, .concierge-1, .concierge-2, .concierge-3, .concierge-4, .concierge-5, .concierge-6, .concierge-7, .concierge-8, .concierge-9').each(function() {
        if (! isMobile.any() ) {
          $(this).parallax('50%', .3, true);
        } else {
          $(this).css('background-attachment', 'initial')
        }
      })
    }(jQuery));

    (function($) {
      $('.project-home, .development-btm').each(function() {
        if (! isMobile.any() ) {
          $(this).parallax('50%', 0, true);
        } else {
          $(this).css('background-attachment', 'initial')
        }
      })
    }(jQuery));
  </script>

</body>
</html>
