<!DOCTYPE HTML>
<html>
<head>
  <title><%= yield(:title).blank? ? 'Miami Real Estate' : yield(:title) %> | MiamiQosta</title>
  <meta name="description" content="<%= yield(:meta_description) %>">
  <meta name="keyword" content="<%= yield(:keyword).blank? ? 'MiamiQosta' : yield(:keyword) %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msvalidate.01" content="FC011CE0105FCDEF96CA6CF4983F14D2" />
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= render 'layouts/google_analytics' %>
</head>
<body>

  <%= render 'layouts/preloader' %>
  <%= render 'layouts/menu_button' %>
  <%= render 'layouts/language' %>


    <%= render 'layouts/header' %>
  <!-- <div class="page-wrapper"> -->
    <div class="ody-content">

      <%= render 'layouts/navlinks' %>

      <%= yield %>

      <%= render 'layouts/footer' %>

    </div>
  <!-- </div> -->

  <%= javascript_include_tag 'application-btm' %>

  <script>
    $( "#ody-trigger" ).click(function() {
      $( "#bkg-overlay" ).toggle();
    });
  </script>

  <script>
    (function() {
      [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
        new SelectFx(el);
      } );
    })();
  </script>

  <script>
    // Scroll to id
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>

  <script>
  var NKS_Form_Opts = {
 		'ajaxurl' : '/path_to_handler_script_on_server.php',
        'theme' : 'minimalistic',
        'firstline' : 'John',
        'secondline' : 'Appleseed',
        'thirdline' : 'Company owner',
        'userpic' : '/img/my_logo.png',
        'bg' : 'blur7',
        'path_to_img_folder' : 'path_to_plugin_folder/img',
  }
</script>


</body>
</html>
